<!-- Footer -->
<footer class="page-footer text-center">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->

      <!-- Grid column -->
      <div class="col-md-12">
        <div class="flex-center">

          <!-- footer social icons from MD https://mdbootstrap.com/snippets/standard/mdbootstrap/2886162 -->
          <div class="row pt-3">
            <div class="col-12">
              <!-- Facebook -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Legato-Music-114565171246464" role="button"
                target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>

              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" target="_blank"
                role="button"><i class="fab fa-twitter fa-lg"></i></a>

              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" target="_blank"
                role="button"><i class="fab fa-instagram fa-lg"></i></a>

              <!-- Linkedin -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com" target="_blank"
                role="button"><i class="fab fa-linkedin-in fa-lg"></i></a>

            </div>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->


</footer>
<!-- Footer -->